.vscode
.git
.gitignore
.env
.env.example

*.yml
*.md

/ConfigServer
/AdminServer
/EurekaServer
/MinIOUploadService
/Csv2RdfConverterService
/GraphDBImportService
/PostgresImportService
/GatewayService
/DashboardService
/images
/volumes
