DOMAIN_URL=https://terrain.dd-bim.org

MINIO_URL=http://terrain.dd-bim.org
MINIO_PORT=9000
MINIO_ACCESS_KEY=accesskey
MINIO_SECRET_KEY=password

POSTGRES_URL=//terrain.dd-bim.org
POSTGRES_DATABASE=database
POSTGRES_DATABASE_USERNAME=username
POSTGRES_DATABASE_PASSWORD=password

GRAPHDB_URL=http://terrain.dd-bim.org/graphdb
GRAPHDB_USERNAME=username
GRAPHDB_PASSWORD=password