HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
settings.xml

### VS Code ###
.vscode/

### environment variables ###
.env

*.tmp

*.log

*.jar

### JS ####
node_modules

keycloak-server/
logs/
graphdb/
minio/
postgres/ 