<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" type="text/css" href="../static/tailwind.css" /> -->
  <link rel="stylesheet" type="text/css" th:href="@{~/tailwind.css}" />
  <script type="module">
    import { deleteB, upload } from "./index.js";
    window.deleteB = deleteB;
    window.upload = upload;
  </script>
  <title>Minio Uploader</title>
</head>

<body>

  <header class="bg-body-green shadow-md">
    <div class="max-w-7xl mx-auto py-3 px-4 sm:px-6 lg:px-8">
      <h1
        class="shadow-xl bg-head-green p-2 text-2xl font-bold font-sans leading-tight text-button-green-2 text-center">
        Datei-Upload auf den MinIO Object Storage
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">


      <h2 class="text-xl font-bold leading-tight text-gray-900 mb-2">Projektordner anlegen, Dateien hochladen und
        Projektordner löschen</h2>
      <div class="shadow-md border border-gray-200 rounded-md px-5 pt-4 mb-5">
        <div class="mb-4">
          <div class="flex space-x-2">
            <form th:action="@{/terraintwin/minioupload}" method="post" enctype="multipart/form-data">
              <label class="py-1 text-gray-700 text-sm font-bold" for="bucket">
                Projektordner:
              </label>
              <input
                class="shadow-md w-56 appearance-none border rounded py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="bucket" id="bucket" type="text" required>
              <input type="file" name="file" id="file" hidden>
              <label for="file" onclick="enableUpload()"
                class="w-28 items-center px-3.5 py-1 border border-button-green-2 rounded-md shadow-sm text-sm font-medium text-black hover:bg-button-green-2 focus:outline-none">
                Durchsuchen</label>
              <script type="text/javascript">
                function enableUpload() {
                  var c = document.getElementById("id1");
                  c.disabled = false;
                }
              </script>
              <button disabled id="id1" type="submit" name="action" value="upload"
                class="w-28 items-center px-1 py-1 border border-button-green-2 rounded-md shadow-sm text-sm font-medium text-black hover:bg-button-green-2 focus:outline-none">
                Hochladen
              </button>
              <button type="submit" name="action" value="delete"
                class="w-28 items-center px-1 py-1 border border-button-green-2 rounded-md shadow-sm text-sm font-medium text-black hover:bg-button-green-2 focus:outline-none">
                Ordner löschen
              </button>
          </div>

          <div class="flex items-center">
            <input type="hidden" name="metachecker" id="hiddenChecker" value="off" disabled />
            <input id="metachecker" name="metachecker" type="checkbox" onclick="checkBox()"
              class="h-4 w-4 text-button-green-2 border-black rounded" checked>
            <script type="text/javascript">
              function checkBox() {
                var checkBox = document.getElementById("metachecker");
                var metadata = document.getElementById("allmetadata");
                var hidden = document.getElementById("hiddenChecker")
                if (checkBox.checked == true) {
                  metadata.disabled = false;
                  metadata.style.opacity = 1;
                } else {
                  hidden.disabled = false;
                  metadata.disabled = true;
                  metadata.style.opacity = 0.5;
                }
              }
            </script>
            <label for="metachecker" class="p-1 text-gray-700 text-sm font-bold">
              Metadaten Datei anlegen
            </label>
          </div>
          <div id="statusUpdate" data-th-utext="${#strings.replace(#strings.escapeXml(erg),'&#10;','&lt;br&gt;')}"
            class="overflow-y-scroll h-32 w-2/3 border border-gray-400 mt-2"></div>
        </div>
      </div>


      <div>
        <h2 class="text-xl font-bold leading-tight text-gray-900 mb-2">Metadaten hinzufügen</h2>
      </div>
      <fieldset id="allmetadata" name="allmetadata">
        <div class="flex justify-between">
          <div class="shadow-md  border border-gray-200 rounded-md px-5 mr-2 w-1/2">
            <h2 class="block text-gray-700 font-bold mt-2 text-xl text-center">Metadaten Container</h2>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="name">
                Type:
                <span class="tooltiptext">Typ des Containers</span>
              </label>
              <select name="type" class="rounded-md p-1" onchange="checkChange(this.value)">
                <option value="DTM" selected="selected">DTM</option>
                <option value="BIM-Modell">BIM-Modell</option>
                <option value="Sachdaten">Sachdaten</option>
                <option value="Flächen">Flächen</option>
                <option value="Ontologie">Ontologie</option>
              </select>
              <script type="text/javascript">
                function checkChange(val) {
                  var element = document.getElementById("metadataDTM");
                  if (val === "DTM") {
                    element.disabled = false;
                    element.style.opacity = 1;
                  }
                  else {
                    element.disabled = true;
                    element.style.opacity = 0.5;
                  }
                }
              </script>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="name">
                Description:
                <span class="tooltiptext">Ergänzende Beschreibung des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="description" id="description" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="creator">
                Creator:
                <span class="tooltiptext">Ersteller des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="creator" id="creator" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="sender">
                Sender:
                <span class="tooltiptext">Absender des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="sender" id="sender" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="recipients">
                Recipients:
                <span class="tooltiptext">Empfänger des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="recipients" id="recipients" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="suitability">
                Suitability:
                <span class="tooltiptext">Eignung / Kontext des Conainers z.B. nach ISO...</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="suitability" id="suitability" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="revision">
                <!-- required -->
                Revision:
                <span class="tooltiptext">Revisionsnummer des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="revision" id="revision" type="text"> <!-- required -->
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="version">
                Version:
                <span class="tooltiptext">Versionsnummer des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="version" id="version" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="status">
                Status:
                <span class="tooltiptext">Status des Containers</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="status" id="status" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="projectId">
                <!-- required -->
                ProjectId:
                <span class="tooltiptext">Identifikator des Projektes</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="projectId" id="projectId" type="text"> <!-- required -->
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="metaSchema">
                Metadata Schema:
                <span class="tooltiptext">Referenz auf das Schema für weitere Metadaten</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="metaSchema" id="metaSchema" type="text" placeholder="optional">
            </div>
            <h2 class="block text-gray-700 font-bold mt-2 text-xl text-center">Metadaten Datei</h2>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schema">
                Schema:
                <span class="tooltiptext">Referenz auf das Schema des Inhalts, z.B. IFC, URL zum Schema</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="schema" id="schema" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaVersion">
                SchemaVersion:
                <span class="tooltiptext">Version des Schemas zum Inhalt</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="schemaVersion" id="schemaVersion" type="text" placeholder="optional">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                SchemaSubset:
                <span class="tooltiptext">Untermenge des Schemas zum Inhalt, z.B. Reference View 1.2</span>
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="schemaSubset" id="schemaSubset" type="text" placeholder="optional">
            </div>
          </div>


          <div class="shadow-md border border-gray-200 rounded-md px-5 ml-2 w-1/2">
            <h2 class="block text-gray-700 font-bold mt-2 text-xl text-center">weitere Metadaten für Geländemodelle
            </h2>
            <fieldset id="metadataDTM">
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Aktualität:
                  <span class="tooltiptext">Erfassungszeitpunkt der Daten</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="aktualitaet" id="aktualitaet" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Koordinatenreferenzsystem Lage:
                  <span class="tooltiptext">Koordinatenreferenzsystem der x- und y-Koordinaten</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="lagereferenzsystem" id="lagereferenzsystem" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Koordinatenreferenzsystem Höhe:
                  <span class="tooltiptext">Höhenreferenzsystem der z-Koordinaten</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="hoehenreferenzsystem" id="hoehenreferenzsystem" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Projektion:
                  <span class="tooltiptext">Projektion der Koordinaten</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="projektion" id="projektion" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Räumliche Ausdehnung:
                  <span class="tooltiptext">Umfang des beschriebenen Gebietes, z.B. in km²</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="raeumlicheAusdehnung" id="raeumlicheAusdehnung" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Datenstruktur:
                  <span class="tooltiptext">z.B. Raster, TIN, math. Oberflächenmodellierung, Interpolation, ...</span>
                </label>
                <select name="datenstruktur" class="rounded-md p-1">
                  <option value="" selected="selected"></option>
                  <option value="TIN">TIN</option>
                  <option value="Raster">Raster</option>
                  <option value="Interpolation">Interpolation</option>
                  <option value="Oberflächenmodellierung">math. Oberflächenmodellierung</option>
                  <option value="Weiteres">Andere</option>
                </select>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Darstellungsform:
                  <span class="tooltiptext">Erfassungszeitpunkt der Daten</span>
                </label>
                <select name="darstellungsform" class="rounded-md p-1">
                  <option value="" selected="selected"></option>
                  <option value="Dreiecksvermaschung">Dreiecksvermaschung</option>
                  <option value="3D Modell">3D Modell</option>
                  <option value="Farbcodierung">Farbcodierung</option>
                  <option value="Isoliniendarstellung">Isoliniendarstellung</option>
                  <option value="Höhenpunkte">Höhenpunkte</option>
                  <option value="Schummerung">Schummerung</option>
                  <option value="VR/AR Modell">VR/AR Modell</option>
                  <option value="Weiteres">Andere</option>
                </select>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  Erfassungsmethode:
                  <span class="tooltiptext">z.B. Laserscanning, LIDAR, Tachymetrische Messung, ...</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="erfassungsmethode" id="erfassungsmethode" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  messtechnische Genauigkeit:
                  <span class="tooltiptext">Genauigkeit der Daten aus der Erfassung</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="messgenauigkeit" id="messgenauigkeit" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  innere Genauigkeit:
                  <span class="tooltiptext">inner Genauigkeit des abgeleiteten DTM</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="innereGenauigkeit" id="innereGenauigkeit" type="text" placeholder="optional">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 tooltip" for="schemaSubset">
                  äußere Genauigkeit:
                  <span class="tooltiptext">äußere Genauigkeit des abgeleiteten DTM</span>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="aeußereGenauigkeit" id="aeußereGenauigkeit" type="text" placeholder="optional">
              </div>
            </fieldset>
          </div>

        </div>
        </form>
      </fieldset>
    </div>
  </main>

</body>

</html>