@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
    text-align: center
  }

  select {
    width: 100%;
    text-align: center
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width:max-content;
    background-color:#F0FDD7;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 2px 2px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }